body {
  background-color: #efefef;
  font-family: "Quicksand", sans-serif;
}

a {
  color: #0d8384;
}

main {
  margin: 30px 0;
}

.App img {
  height: 5rem;
}

.App-header,
.App-footer {
  text-align: center;
  margin: 30px 0;
}
