body {
  font-family: "Quicksand", sans-serif;
  background-color: #efefef;
  background: url(./background.jpg) no-repeat center center;
  background-size: cover;
}

.App a {
  color: #0d8384;
}

.App main {
  margin: 30px 0;
}

.App .intro {
  background-color: #eeeeee33;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin: 20px 0;
  padding: 30px;
}

.App-background-overlay {
  margin: 0 auto;
  background-image: linear-gradient(
    rgba(171, 172, 165, 0.63),
    rgba(247, 247, 247, 0.233)
  );
}

.App .container {
  max-width: 960px;
  margin: 0 auto;
}

.App .logo {
  height: 11rem;
}

.App-footer {
  text-align: center;
  padding-bottom: 30px;
}

.App-header {
  text-align: center;
  position: relative;
  margin: 0 auto;
  padding: 30px 0 0;
}

.App-header-text {
  text-align: left;
  font-size: 1.5rem;
  font-style: italic;
}

.App-header-text strong {
  font-size: 1rem;
}
