.Meaning h3 {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.5;
}

.Meaning .results {
  margin-bottom: 30px;
}

.Meaning .definition {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}

.Meaning .example {
  color: #566f8d;
  font-style: italic;
  line-height: 1.5;
}
